
#top {
    font-size: 4em;
    text-align: left;
    vertical-align: middle;
    overflow: auto;
}

#logo {
    position: relative;
    float: left;
    text-transform: lowercase;
    font-size: 1em;
    font-family: "Serif";
}

p {
    overflow: auto;
}

input, textarea {
    float: right;
    width: 610px;
}

input.button {
    width: auto;
    float: none;
}

p label {
    text-align: right;
    vertical-align: top;
}

form {
    max-width: 800px;
}